body{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: black;
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* width: 100vh; */
}

*{
    margin: 0;
    padding: 0;
}

.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.svg{
    height: 10rem;
}
.main__heading{

text-align: center;
text-transform: uppercase;
font-family: monospace;
font-size: 4rem;
color: aqua;
}



.english-text{
    width: 80%;
    border: solid aqua 0.1rem;
    text-align: center;

    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    
}

.translate__button{
    border: 0.2rem aqua solid;
    background-color: transparent;
    font-size: 2rem;

    transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: white;
    font-family: monospace;
    
    
}

.translate__button:hover{
    background-color: aqua;
    transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);

}
.output__text{
    font-size: 1.3rem;
    font-family: monospace;
}
.output{
   height: 5rem; 
    border: solid aqua 0.1rem;
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
}
